.topbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background-color: white;
  position: sticky;
  top: 0;
  border-top-left-radius: 40px;
  z-index: 1999;
}
.topbar--search {
  flex: 1;
  position: relative;
}
.topbar--searchicon--container {
  position: absolute;
  top: 10px;
  left: 10px;
}
.topbar--textfield {
  width: 100%;
  background-color: #f5f5fc;
  padding: 10px 30px;
  outline: none;
  font-size: 14px;
  border-radius: 10px;
  border: none;
}
.topbar--nav--container {
  flex: 1;
}
.topbar--nav {
  display: flex;
  list-style-type: none;
}
.topbar--links {
  margin-left: 25px;
  color: #000013;
}
.topbar--notification {
  display: flex;
  align-items: center;
  gap: 20px;
}
.topbar--notification--container {
  position: relative;
}
.red--dot {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
  top: 0;
  right: 0;
}
.avatar--container {
  cursor: pointer;
  position: relative;
}
.profile-avatar {
  width: 30px;
  height: 30px;
}
.profile--dropdown {
  position: absolute;
  top: 100%;
  right: 100%;
  width: 100px;
  background-color: #f5f5fc;
  padding: 10px;
  border-radius: 10px;
}
