.widget {
  padding: 10px;
  box-shadow: 5px 10px #f5f5fc;
  border-radius: 10px;
  flex: 1;
}
.widget--shaded {
  padding: 10px;
  box-shadow: 5px 10px #f5f5fc;
  border-radius: 10px;
  flex: 1;
  background-color: #f5f5fc;
}
