.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.logo--div {
  color: #ffffff;
  font-weight: bold;
}
.desktop--logo {
  width: 50px;
  height: 30px;
}
.navlinks--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.navlinks {
  /* background-color: #ffffff; */
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8880cf;
}
.navlinks-active {
  background-color: #ffffff;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(40px);
  transition: all 0.5s ease-in-out;
  color: #ff392b;
  box-shadow: 5px 0px #f5f5fc;
}

@media screen and (max-width: 700px) {
  .sidebar {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    background-color: #3326ae;
    z-index: 99;
    border-radius: 40px;
    padding: 15px;
  }
  .logo--div {
    display: none;
    color: red;
  }
  .navlinks--container {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }
  .navlinks {
    padding: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navlinks-active {
    padding: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(0);
    box-shadow: 0px -5px #f5f5fc;
    transform: translateY(-30px);
    color: #ff392b;
  }
}
